<form class="auth" action="login" method="post">
	<div class="auth-data">
		<label for="name">NAME</label>
		<div class="auth-input">
			<input type="text" id="name" name="name" value="<%= data.name %>" />
		</div>
	</div>
	<div class="auth-data">
		<label for="password">PASSWORD</label>
		<div class="auth-input">
			<input
				type="password"
				id="password"
				name="password"
				value="<%= data.password %>"
			/>
		</div>
	</div>
	<% if (data.error) { %>
	<p class="error"><%= data.error %></p>
	<% } %>
	<button type="submit" class="purple-btn">Login</button>
</form>
