<form class="auth" action="register" method="post">
	<div class="auth-data">
		<label for="name">NAME</label>
		<div class="auth-input">
			<input type="text" name="name" value="<%= data.name %>" />
		</div>
	</div>
	<div class="auth-data">
		<label for="name">PASSWORD</label>
		<div class="auth-input">
			<input type="password" name="password" value="<%= data.password %>" />
		</div>
	</div>
	<div class="auth-data">
		<label for="name">CONFIRM PASSWORD</label>
		<div class="auth-input">
			<input type="password" name="confirm" value="<%= data.confirm %>" />
		</div>
	</div>
	<% if (data.error) { %>
	<p class="error"><%= data.error %></p>
	<% } %>
	<button class="purple-btn" type="submit">Register</button>
</form>
