header {
	display: flex;
	flex-flow: row;
	align-self: center;
	justify-content: space-between;
	align-items: center;
	background-color: $off-dark;
	border: 1px solid $border-gray;
	padding: 0.5em;
	width: 99%;
	margin: auto;

	img {
		height: 65px;
		width: 65px;
	}

	#header-title {
		img {
			height: 80px;
			width: 80px;
		}
	}

	ul {
		li {
			margin: 0.3em 0;

			a {
				transition: 0.5s;
				font-size: 14px;

				&:hover {
					color: $purple;
					position: relative;
				}

				&::after {
					position: relative;
					display: block;
					content: '';
					height: 1px;
					width: 100%;
					background-color: transparent;
					margin-top: 0.2em;
					transform: rotate(360deg);
					transition: 0.5s;
				}

				&:hover::after {
					background-color: $dark-purple;
					transform: rotate(0deg);
					transition: 0.5s;
				}
			}
		}
	}
}
