<% if (!data.threads) { %>
<div class="no-threads">
	<h2>
		There are currently no <span class="purple"><%= data.title %></span> threads.
	</h2>
	<a href="/thread/create?baseId=<%= data.id %>" class="purple-btn">Be the first!</a>
</divc>
<% } %>
