<ul id="base-threads">
	<% data.baseThreads.forEach(x => { %>
	<li>
		<img src="<%= x.imageUrl %>" />
		<div id="thread-info">
			<a href=""> <h2><%= x.title %></h2></a>
			<p><%= x.description %></p>
		</div>
	</li>
	<% }); %>
</ul>
