#base-threads {
	margin-top: 1em;
	display: flex;
	flex-flow: column;
	gap: 1em;

	li {
		display: flex;
		flex-flow: row;
		background-color: $off-dark;
		padding: 0.5em;
		border: 1px solid $border-gray;

		p {
			font-size: 13px;
		}

		h2 {
			margin: 0.3em 0;
			transition: 0.5s;

			&:hover {
				color: $purple;
				transform: scale(1.1) translateX(15px);
			}
		}

		img {
			height: 100px;
			width: 100px;
			margin: 0.5em 0;
		}
	}
}
