<header>
	<a id="header-title" href="/"
		><img src="../static/images/logo.jpg" alt=""
	/></a>
	<ul>
		<% if (!isLoggedIn) { %>
		<li><a href="/auth/register">Register</a></li>
		<li><a href="/auth/login">Login</a></li>
		<% } else { %>
		<a href="/user/profile"><img src="<%= user.imageUrl %>" alt="" /></a>
		<li><a href="/auth/logout">Logout</a></li>
		<% } %>
	</ul>
</header>
