@import 'utils';

* {
	padding: 0;
	margin: 0;
}

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

html,
body {
	color: $white;
	scroll-behavior: smooth;
	overflow-x: hidden;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
	display: none;
}

a {
	color: $white;
	text-decoration: none;
}

ul {
	list-style: none;
}

label {
	font-size: 14px;
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		'header'
		'main  '
		'footer';
	justify-content: center;
	align-items: center;
	background-color: $dark;
	font-family: 'Cascadia Mono', sans-serif;
	font-size: 16px;
	padding: 1em;
	height: 90vh;
}

header {
	grid-area: header;
}

main {
	grid-area: main;
	display: grid;
	justify-content: center;
	align-items: center;
	opacity: 1;
	grid-area: main;
	padding-bottom: 7em;
	width: 98vw;
}

footer {
	grid-area: footer;
}

.edit-btn {
	background-color: $gold;
	color: $dark;
	border: 1px solid $dark;

	&:hover {
		transition: 0.2s;
		background-color: $dark;
		border: 1px solid $gold;
		color: $white;
	}
}

// BUTTONS

.edit-btn,
.save-btn,
.purple-btn,
.red-btn {
	margin-top: 0.4em;
	padding: 0.3em 0.5em;
	border-radius: 10%;
	justify-self: center;
	align-self: center;
	transition: 0.2s;
	font-family: 'Cascadia Mono';
	font-size: 12px;
	cursor: pointer;

	&:hover {
		transition: 0.2s;
	}
}

.purple-btn {
	background-color: $purple;
	border: 1px solid $dark;
	border-radius: 5%;
	color: $white;
	padding: 0.5em 1em;
	font-size: 16px;
	cursor: pointer;

	&:hover {
		background-color: $dark;
		border: 1px solid $purple;
	}
}

.save-btn {
	background-color: $purple;
	color: $white;
	border: 1px solid $dark;

	&:hover {
		background-color: $dark;
		border: 1px solid $purple;
	}
}

.red-btn {
	background-color: $red;
	color: $white;
	border: 1px solid $dark;

	&:hover {
		background-color: $dark;
		border: 1px solid $red;
	}
}

.error {
	font-size: 10px;
	color: $red;
	margin-top: 1em;
}

// BUTTONS

.hidden {
	display: none !important;
}

.disabled-btn {
	background-color: $light-dark !important;
	border: 0px !important;
	color: $off-dark !important;
	pointer-events: none;
}

.news,
.hottest {
	width: 99%;
	height: 5em;
	background-color: $off-dark;
	border: 1px solid $light-dark;
	white-space: nowrap;
	overflow: auto;
	display: flex;
	flex-flow: row;
	color: $gray;

	&-element {
		display: flex;
		flex-flow: column;
		font-size: 14px;
		border-right: 1px solid $light-dark;
		padding-right: 1em;
		margin: 1em;
		justify-content: center;
		align-items: center;
		a {
			margin-bottom: 0.4em;
		}

		p {
			font-size: 10px;
		}
	}
}

table {
	background-color: $table-dark;
	width: 100%;
	margin-bottom: 2em;

	thead {
		background-color: $dark;
		color: $purple;
		font-size: 18px;

		tr > th {
			padding: 0.5em;
		}
		tr > th:nth-child(2) {
			display: none;
		}
		tr > th:nth-child(3) {
			display: none;
		}
	}
	tbody {
		tr > td:nth-child(1) {
			padding: 0.7em 0.5em;
			word-break: break-word;

			.thread-title {
				display: flex;
				justify-content: space-between;
				align-items: center;

				img {
					width: 35px;
					height: 35px;
				}
			}
			a {
				display: flex;
				flex-flow: column;

				span {
					font-size: 11px;
				}
			}

			&:hover {
				background-color: $hovered-purple;
			}
			cursor: pointer;
		}

		tr:nth-child(2n + 1) {
			background-color: $striped-light-dark;
		}

		tr:nth-child(2n) {
			background-color: $striped-dark;
		}

		tr > td:nth-child(2) {
			display: none;
		}
		tr > td:nth-child(3) {
			display: none;
		}
	}
}

// TINYMCE

.tox-tinymce {
	display: none !important;
	opacity: 0;
}

.show-tinymce {
	display: flex !important;
	opacity: 1;
}

.constant-tinymce + .tox-tinymce {
	display: flex !important;
	opacity: 1;
}

// TINYMCE

// PAGINATION

.pagination {
	margin-top: 2em;
	margin-bottom: 1.2em;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	align-self: center;
	width: 100%;
	height: 2em;

	&-btn {
		background-color: $striped-dark;
		border: 1px solid $border-gray;
		border-radius: 5%;
		padding: 0.7em 0.5em;
		font-size: 14px;
	}
}

// PAGINATION

// THREAD POSTS

.thread-posts {
	width: 100%;
	align-self: center;
	margin-top: 2em;
}

.thread-post {
	display: flex;
	flex-flow: column;
	align-self: center;
	background-color: $striped-light-dark;
	width: 100%;
	border-bottom: 1px solid $gold;

	&-heading {
		display: flex;
		gap: 0.5em;
		align-items: center;
		padding: 0.5em;
		background-color: $striped-dark;

		img {
			height: 50px;
			width: 50px;
		}

		&-data {
			display: flex;
			flex-flow: row;
			gap: 0.5em;
			font-size: 14px;
			align-items: flex-end;
			justify-content: space-between;
			width: 100%;

			.vote-container {
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: center;
				gap: 0.4em;
			}

			p:nth-child(2) {
				font-size: 10px;
			}
		}
	}

	&-content {
		padding: 1em 0em 2em 0.5em;
		word-break: break-all;

		.description {
			height: 100%;
			font-size: 12px;
		}

		img {
			width: 98%;
			height: 50%;
		}

		iframe {
			width: 98%;
			height: 20em;
		}
	}
}

.forum-signature {
	padding: 1.5em 0.5em;
	font-size: 12px;
	height: auto;
	background-color: $striped-dark;
}
// THREAD POSTS

// ANIMATIONS

.rotate-180 {
	transform: rotate(180deg);
}

// ANIMATIONS
