$dark: #101116;
$table-dark: #21232a;
$striped-dark: #171922;
$striped-light-dark: #2c3041;
$hovered-purple: #2d1047;
$header-dark: #313555f7;
$light-dark: #393e55;
$off-dark: #20222d;
$red: #da0037;
$dark-red: #800120;
$gray: #807e7e;
$border-gray: #3c3c3c;
$white: #ededed;
$dark-purple: #6a097d;
$purple: #892cdc;
$off-red: #e84545;
$brown: #53354a;
$gold: #f0a500;

.purple {
	color: $purple;
}

.red {
	color: $red;
}

.gray {
	color: $gray;
}
